.tabTitle{
    font-size: 1.75em;
    font-weight: 400;
    font-family: "맑은 고딕";
    text-align: center;
    padding-bottom: 30px;
}

.titleCategory{
    font-size: 1.25em;
    font-weight: 400;
    font-family: "맑은 고딕";
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: calc(50% - 500px);
}

.profileImg3{
    position: relative;
    width:300px;
    height: 300px;
    padding: 0px;
    margin-left: calc((50% - 150px));
    margin-bottom: 10px;
    background-color: #96a6b4;
}

.profileImg3 .personImg{
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(150px - 100px);
    top: 40px;
}

.infoBox{
    width: 1000px;
    padding: 15px;
    margin-left: calc(50% - 500px);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.scrollInfoBox{
    width: 1000px;
    height: 625px;
    padding: 15px;
    margin-left: calc(50% - 500px);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    overflow-scrolling: auto;
    overflow: scroll;
}

.scrollInfoBox::-webkit-scrollbar {
    width: 7px;
}

.scrollInfoBox::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 1em;
}

.horizonLine{
    border: none;
    height: 0.05px;
}

.userInfoFont{
    display: inline-block;
    width: 200px;
    text-align: left;
}

.userInfoValue{
    display: inline-block;
    text-align: left;
}

.userInfoValue2{
    display: inline-block;
    width: 100%;
    color: #212529;
    padding: 0.25rem 1.5rem;
    text-align: left;
    text-decoration: none;
    overflow-wrap: normal;
}

.userInfoValue2:hover{
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.userInfoValue2:active{
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd;
}

.readStatus{
    margin-left: 78%;
}

.readStatusBtn{
    margin-left: calc(50% + 310px);
    margin-top: 20px;
}

