body{
    margin: 0;
    /*overflow-x: hidden;*/
}

.section1{
    width: 100vw;
    height: 750px;
    position: relative;
    top: 8vh;
    /*background-image: url('https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_bg.jpg');*/
}

.foodImages{
    position: absolute;
    top: 200px;
    left: calc(50vw - 650px);
    width: 600px;
    height: 500px;
    animation: appear 0.5s ease-out;
}

.platformLogos{
    position: absolute;
    top: 230px;
    left: calc(50vw - 650px + 760px);
    width: 550px;
    height: 160px;
    opacity: 0;
    animation: appear 0.5s ease-out forwards;
    animation-delay: 0.5s;
}

.title1{
    position: absolute;
    font-size: 3em;
    width: 410px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 470px;
    left: calc(50vw - 650px + 835px);
    opacity: 0;
    animation: appear 0.5s ease-out forwards;
    animation-delay: 1s;
}

.serviceStartBtn{
    position: absolute;
    top: 630px;
    left: calc(50vw - 650px + 950px);
    width: 185px;
    opacity: 0;
    animation: appear 0.5s ease-out forwards;
    animation-delay: 1.5s;
}

.section2{
    width: 100vw;
    height: 770px;
    position: relative;
    top: 8vh;
    background-color: #d5eeff;
}

.section2:before{
    position: absolute;
    content: '';
    background: linear-gradient(to bottom, white,transparent);
    height: 70px;
    width: 100vw;
}

.section2 .shareImages{
    position: relative;
    left: calc(50vw - 400px);
    top: 150px;
    opacity: 0;
}

.money{
    width: 160px;
    height: 200px;
    position: absolute;
    top: 340px;
    left: -10px;
}
.money1{
    width: 72px;
    height: 90px;
    position: absolute;
    left: -200px;
    top: 100px;
}
.money2{
    width: 72px;
    height: 90px;
    position: absolute;
    left: -50px;
    top: 100px;
}
.money3{
    width: 72px;
    height: 90px;
    position: absolute;
    left: 100px;
    top: 100px;
}
.money4{
    width: 72px;
    height: 90px;
    position: absolute;
    left: 250px;
    top: 100px;
}

.arrow1{
    width: 100px;
    height: 150px;
    position: absolute;
    left: -160px;
    top: 185px;
    transform: rotate(140deg);
}
.arrow2{
    width: 100px;
    height: 130px;
    position: absolute;
    left: -40px;
    top: 195px;
    transform: rotate(160deg);
}
.arrow3{
    width: 100px;
    height: 130px;
    position: absolute;
    left: 65px;
    top: 195px;
    transform: rotate(200deg);
}
.arrow4{
    width: 100px;
    height: 150px;
    position: absolute;
    left: 180px;
    top: 185px;
    transform: rotate(220deg);
}

.person1{
    width: 130px;
    height: 130px;
    position: absolute;
    left: -230px;
    top: 0px;
}
.person2{
    width: 130px;
    height: 130px;
    position: absolute;
    left: -80px;
    top: 0px;
}
.person3{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 70px;
    top: 0px;
}
.person4{
    width: 130px;
    height: 130px;
    position: absolute;
    left: 220px;
    top: 0px;
}

.title2{
    position: absolute;
    font-size: 3em;
    width: 700px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 220px;
    left: calc(50vw + 100px);
    opacity: 0;
}

.title2Sub1{
    position: absolute;
    font-size: 2em;
    width: 700px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 385px;
    left: calc(50vw + 100px);
    opacity: 0;
}

.section3{
    width: 100vw;
    height: 700px;
    position: relative;
    top: 8vh;
    /*background-color: #e2ffe8;*/
    background-color: #ebffee;
}

.section3:before{
    position: absolute;
    content: '';
    background: linear-gradient(to bottom, #d5eeff,transparent);
    height: 70px;
    width: 100vw;
    top: 0px;
}

.searchPartyImage{
    width: 700px;
    height: 530px;
    position: absolute;
    left: 240px;
    top: 70px;
}

.title3{
    position: absolute;
    font-size: 3em;
    width: 700px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 220px;
    left: calc(50vw + 100px);
}

.title3Sub1{
    position: absolute;
    font-size: 2em;
    width: 700px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 385px;
    left: calc(50vw + 100px);
}

.section4{
    width: 100vw;
    height: 700px;
    position: relative;
    top: 8vh;
    background-color: white;
}

.section4:before{
    position: absolute;
    content: '';
    background: linear-gradient(to top, #dcefff,transparent);
    height: 700px;
    width: 100vw;
}

.sequenceCards{
    width: 610px;
    height: 485px;
    top: 80px;
    left: calc(50vw - 610px - 50px);
    position: relative;
}

.sequenceCard{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 180px;
    height: 225px;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border: 1px solid #dee2e6;
    /*border-color: #198754;*/
    border-radius: 30px 30px 30px 30px;
    padding-left: 25px;
    padding-top: 10px;
    opacity: 0;
}
.line{
    position: absolute;
    width: 175px;
    height: 80px;
    left: 0px;
    top: 0px;
    opacity: 0;
}

.title4{
    position: absolute;
    font-size: 3em;
    width: 700px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 150px;
    left: calc(50vw + 100px);
    opacity: 0;
}

.title4Sub1{
    position: absolute;
    font-size: 2em;
    width: 700px;
    font-family: "맑은 고딕";
    font-weight: bolder;
    top: 315px;
    left: calc(50vw + 100px);
    opacity: 0;
}

.makePartyBtn{
    position: absolute;
    top: 630px;
    left: calc(50vw - 650px + 950px);
    width: 185px;
    opacity: 0;
}

footer{
    position: relative;
    height: 250px;
    padding-top: 140px;
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes leftSlideAppear {
    from{
        left: calc(50vw - 800px);
        opacity: 0;
    }
    to{
        left: calc(50vw - 400px);
        opacity: 1;
    }
}

@keyframes leftSlideAppear2 {
    from{
        left: calc(50vw - 1040px);
        opacity: 0;
    }
    to{
        left: calc(50vw - 640px);
        opacity: 1;
    }
}

@keyframes rightSlideAppear {
    from{
        left: calc(50vw + 500px);
        opacity: 0;
    }
    to{
        left: calc(50vw + 100px);
        opacity: 1;
    }
}

@keyframes leftSlideDisappear {
    from{
        left: calc(50vw - 400px);
        opacity: 1;
    }
    to{
        left: calc(50vw - 800px);
        opacity: 0;
    }
}

@keyframes leftSlideDisappear2 {
    from{
        left: calc(50vw - 640px);
        opacity: 1;
    }
    to{
        left: calc(50vw - 1040px);
        opacity: 0;
    }
}

@keyframes rightSlideDisappear {
    from{
        left: calc(50vw + 100px);
        opacity: 1;
    }
    to{
        left: calc(50vw + 500px);
        opacity: 0;
    }
}