.subTitleStyle{
    font-size: 1.25em;
    font-weight: 400;
    font-family: "맑은 고딕";
    padding-top: 30px;
    padding-bottom: 30px;
}

.scrollInfoBox{
    width: 1000px;
    height: 625px;
    padding: 15px;
    margin-left: calc(50% - 500px);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    overflow-scrolling: auto;
    overflow: scroll;
}

.scrollInfoBox::-webkit-scrollbar {
    width: 7px;
}

.scrollInfoBox::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 1em;
}

.horizonLine{
    border: none;
    height: 0.05px;
}

.userMessage{
    width: 100%;
    color: #212529;
    padding: 0.25rem 1.5rem;
    text-align: left;
    text-decoration: none;
    overflow-wrap: normal;
}

.messageBtn{
    text-align: center;
    margin-top: 20px;
}