<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: headers(~{::title}, ~{::link}, ~{::script}, ~{::style})">
    <title>계정정보</title>
    <link rel="stylesheet" href="/css/navStyle.css">
    <link rel="stylesheet" href="/css/sidebarStyle.css">
    <link rel="stylesheet" href="/css/accountStyle.css">
    <script src="/js/navJs.js"></script>
    <script src="/js/sidebarJs.js"></script>
    <script src="/js/accountJs.js"></script>
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .field-success {
            border-color: #218838;
            color: #218838;
        }
    </style>
</head>

<body>
    <nav th:replace="fragments.html :: navigator(0)"></nav>

<!--사이드바-->
    <div class="sidebar" id="sidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="20" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">메뉴</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="sidebarItems">
            <li>
                <div class="nav-link link-dark sidebarItem active" id="myParties-tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="position: relative; top: -2px" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                        <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                    </svg>
                    파티 관리
                </div>
            </li>
            <li class="">
                <div class="nav-link link-dark sidebarItem" id="notification-tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="position: relative; top: -2px" fill="currentColor" class="dropdownBtn bi bi-bell-fill" viewBox="0 0 16 16">
                        <path class="dropdownBtn" d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                    알림
                </div>
            </li>
            <hr>
            <li class="">
                <div class="nav-link link-dark sidebarItem" id="profile-tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="position: relative; top: -2px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    사용자 정보
                </div>
            </li>
        </ul>
    </div>






    <div style="margin-left: 280px">
        <div class="container" style="padding-top: 150px">
            <div>
<!--                파티 탭-->
                <div class="row tabContent" id="myParties">
                    <div class="container">
                        <div class="tabTitle">파티 관리</div>
                        <div class="titleCategory">진행중인 파티</div>
                            <div class="scrollInfoBox" style="height: 445px;">
                                <div th:if="${ongoingParties.isEmpty()}">진행중인 파티가 없습니다.</div>
                                <th:block th:each="party, index : ${ongoingParties}">
                                    <div th:object="${party}">
                                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm position-relative" th:id="partyNum + ${index.index}" style="height: 200px;">
                                            <div class="col-3 d-none d-lg-block text-center align-content-center bg-light">
                                                <img th:if="${party.deliveryPlatform.toString().equals('BM')}" src="/img/baeminLogo.PNG" alt="배달매체" width="200" height="200">
                                                <img th:if="${party.deliveryPlatform.toString().equals('BT')}" src="/img/baedalteuggeubLogo.PNG" alt="배달매체" width="200" height="200">
                                                <img th:if="${party.deliveryPlatform.toString().equals('YGY')}" src="/img/yogiyoLogo.PNG" alt="배달매체" width="200" height="200">
                                            </div>
                                            <div class="col-9">
                                                <div class="row px-4">
                                                    <div th:id="partyId_ + ${party.id}" style="display: none"></div>
                                                    <h3 class="mt-1 mb-0 overflow-hidden" th:id="partyTitle + ${index.index}" th:text="${party.title}" style="height: 30px;">제목</h3>
                                                    <hr class="mt-2">
                                                    <strong><div class="my-2 text-muted" th:id="partyRestaurant + ${index.index}" th:text="${party.restaurant}">주문한 점포명</div></strong>
                                                    <strong class="d-inline-block my-2 text-muted" th:id="partyPickUpLocation + ${index.index}" th:text="${party.pickUpLocation} + ' ' + ${party.pickUpLocationDetail}">수령 장소</strong>
                                                    <div class="col-6 px-3 my-2 d-flex flex-column position-static">
                                                        <!--                            <strong class="d-inline-block mb-2 text-success">수령 장소</strong>-->
                                                        <div class="mb-1 text-muted" th:id="partyLimitTime + ${index.index}" th:text="'[' + ${party.limitTime} + ']까지 모집 중'">모집 시간</div>
                                                    </div>
                                                    <div class="col-6 px-3 my-2 d-flex flex-column position-static">
                                                        <!--                            <a href="#" class="stretched-link">모집인원</a>-->
                                                        <strong><a th:href="@{/partyDetails/{partyId}(partyId=${party.id})}" th:id="partyMembersNum + ${index.index}" th:text="${party.membersNum} + '/' + ${party.maxMemberNum} + '명'" class="stretched-link text-decoration-none text-muted">모집 인원</a></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>

                        <div class="titleCategory">만료된 파티</div>
                            <div class="scrollInfoBox" style="height: 445px; margin-bottom: 200px">
                                <div th:if="${closedParties.isEmpty()}">만료된 파티가 없습니다.</div>
                                <th:block th:each="party, index : ${closedParties}">
                                    <div th:object="${party}">
                                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-2 shadow-sm position-relative" th:id="partyNum + ${index.index}" style="height: 200px;">
                                            <div class="col-3 d-none d-lg-block text-center align-content-center bg-light">
                                                <img th:if="${party.deliveryPlatform.toString().equals('BM')}" src="/img/baeminLogo.PNG" alt="배달매체" width="200" height="200">
                                                <img th:if="${party.deliveryPlatform.toString().equals('BT')}" src="/img/baedalteuggeubLogo.PNG" alt="배달매체" width="200" height="200">
                                                <img th:if="${party.deliveryPlatform.toString().equals('YGY')}" src="/img/yogiyoLogo.PNG" alt="배달매체" width="200" height="200">
                                            </div>
                                            <div class="col-9">
                                                <div class="row px-4">
                                                    <div th:id="partyId_ + ${party.id}" style="display: none"></div>
                                                    <h3 class="mt-1 mb-0 overflow-hidden" th:id="partyTitle + ${index.index}" th:text="${party.title}" style="height: 30px;">제목</h3>
                                                    <hr class="mt-2">
                                                    <strong><div class="my-2 text-muted" th:id="partyRestaurant + ${index.index}" th:text="${party.restaurant}">주문한 점포명</div></strong>
                                                    <strong class="d-inline-block my-2 text-muted" th:id="partyPickUpLocation + ${index.index}" th:text="${party.pickUpLocation} + ' ' + ${party.pickUpLocationDetail}">수령 장소</strong>
                                                    <div class="col-6 px-3 my-2 d-flex flex-column position-static">
                                                        <!--                            <strong class="d-inline-block mb-2 text-success">수령 장소</strong>-->
                                                        <div class="mb-1 text-muted" th:id="partyLimitTime + ${index.index}" th:text="'[' + ${party.limitTime} + ']까지 모집 중'">모집 시간</div>
                                                    </div>
                                                    <div class="col-6 px-3 my-2 d-flex flex-column position-static">
                                                        <!--                            <a href="#" class="stretched-link">모집인원</a>-->
                                                        <strong><a th:href="@{/partyDetails/{partyId}(partyId=${party.id})}" th:id="partyMembersNum + ${index.index}" th:text="${party.membersNum} + '/' + ${party.maxMemberNum} + '명'" class="stretched-link text-decoration-none text-muted">모집 인원</a></strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                    </div>
                </div>





<!--                알림 탭-->
                <div class="tabContent" id="notification">
                    <div class="container">
                        <div class="tabTitle">알림</div>
                        <div class="scrollInfoBox">
                            <th:block th:each="notification: ${notificationLogs}">
                                <a class="dropdownItem" th:id="'notification_' + ${notification.id}" th:name="${notification.url}" onclick="notificationReadStatusChange(this.id, this.name)">
                                    <span class="dropdownAlertText" th:text="${notification.contents}">알림 내용</span>
                                    <br>
                                    <span class="dropdownAlertText d-inline-block" th:text="'[' + ${notification.createAt} + ']'" style="width: 875px">2022-03-19T15:30</span>
                                    <span th:if="${notification.readStatus.toString().equals('READ')}" class="d-inline-block">읽음</span>
                                </a>
                                <div><hr class="dropdown-divider dropdownArea"></div>
                            </th:block>
                        </div>
                        <form th:action="@{/notificationReadStatusAllChange}" th:method="post">
                            <button type="submit" class="btn btn-primary readStatusBtn">전부 읽음으로 표시</button>
                        </form>
                    </div>
                </div>






<!--                프로필 탭-->
                <div class="tabContent" id="profile">
                    <div class="container">
                        <div class="tabTitle">사용자 정보</div>
                        <div class="profileImg3 text-white rounded-circle text-center">
                            <svg class="dropdownBtn bi bi-person-fill personImg" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                <path class="dropdownBtn" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </div>
                        <div class="infoBox" th:object="${member}" style="margin-top: 60px;">
                            <div>
                                <div class="userInfoFont">사용자 이름</div>
                                <div class="userInfoValue" th:text="${member.username}">username</div>
                                <hr class="horizonLine">
                            </div>
                            <div>
                                <div class="userInfoFont">이메일</div>
                                <div class="userInfoValue" th:text="${member.email}">userEmail</div>
                                <hr class="horizonLine">
                            </div>
                            <div>
                                <div class="userInfoFont">휴대폰 번호</div>
                                <div class="userInfoValue" th:text="${member.phoneNum}">userPhoneNum</div>
                                <hr class="horizonLine">
                            </div>
                            <div>
                                <div class="userInfoFont">기본 픽업장소</div>
                                <div th:if="${member.latitude == 0 and member.longitude == 0}" class="userInfoValue" th:text="없음">baseLocation</div>
                                <div th:unless="${member.latitude == 0 and member.longitude == 0}" class="userInfoValue" th:text="${member.baseLocation}">baseLocation</div>
                                <button type="button" class="btn btn-primary" onclick="changeBaseLocationModalToggle()">변경하기</button>
                                <div class="field-error" th:errors="${baseLocationChangeDto.changedBaseLocation}" style="padding-left: 205px">
                                    픽업장소 에러
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<!--모달    -->
    <div class="customModal hideModal row" id="changeBaseLocationModal">
        <div class="modal-header">
            <span>기본 픽업장소 변경</span>
            <button class="btn" style="position: absolute; left: 440px" onclick="changeBaseLocationModalToggle()">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
        <form th:action="@{/accountInfo/basePickupLocation}" method="post" th:object="${baseLocationChangeDto}">
            <div class="modal-body input-group has-validation">
                <button type="button" class="input-group-text" onclick="execDaumPostcode2()">검색</button>
                <input type="text" class="form-control" th:field="*{changedBaseLocation}" id="changedBaseLocation" th:errorclass="field-error" placeholder="주소를 입력하세요." style="height: 2.5em">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">변경하기</button>
            </div>
        </form>
    </div>




<!--    어떤 탭이 눌리는지 파라미터로 받음-->
    <script th:inline="javascript">

        /*<![CDATA[*/
        var selectedTab = [[${selectedTab}]];
        /*]]>*/

        console.log(selectedTab + 'tab clicked');
        contentSetting(selectedTab);
    </script>


    <!--다음 주소 api-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>