<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: headers(~{::title}, ~{::link}, ~{::script}, ~{::style})">
    <title>계정정보</title>
    <link rel="stylesheet" href="/css/navStyle.css">
    <link rel="stylesheet" href="/css/sidebarStyle.css">
    <link rel="stylesheet" href="/css/accountStyle.css">
    <script src="/js/navJs.js"></script>
    <script src="/js/sidebarJs.js"></script>
    <style></style>
</head>

<body>
    <nav th:replace="fragments.html :: navigator(0)"></nav>

    <div class="sidebar" id="sidebar">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="20" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">메뉴</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="sidebarItems">
            <li>
                <div class="nav-link link-dark sidebarItem active" id="myParties-tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="position: relative; top: -2px" fill="currentColor" class="bi bi-basket2" viewBox="0 0 16 16">
                        <path d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                    </svg>
                    참여한 파티
                </div>
            </li>
            <li class="">
                <div class="nav-link link-dark sidebarItem" id="notification-tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="position: relative; top: -2px" fill="currentColor" class="dropdownBtn bi bi-bell-fill" viewBox="0 0 16 16">
                        <path class="dropdownBtn" d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                    </svg>
                    알림
                </div>
            </li>
            <hr>
            <li class="">
                <div class="nav-link link-dark sidebarItem" id="profile-tab">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="position: relative; top: -2px" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    사용자 정보
                </div>
            </li>
        </ul>
    </div>

    <div style="margin-left: 280px">
        <div class="container" style="padding-top: 150px">
            <div>
                <div class="row tabContent" id="myParties">
                    <div class="col-lg-6 text-center" style="height: 500px">
                        <img src="/img/baeminLogo.PNG" alt="사진" height="100%">
                    </div>
                    <div class="col-lg-6 py-2">
                        <h3 class="mt-1">모집글 제목</h3>
                        <hr>
                        <div>
                            <strong><div class="my-2 text-muted">소개글</div></strong>
                            <span>모집글 설명하는 자리입니다.</span>
                        </div>
                        <div class="bg-light mt-5">
                            <strong><div class="my-2 text-muted">수령 장소</div></strong>
                            <div class="d-inline-block">수령 장소</div><div class="d-inline-block" style="margin-left: 0.5em"></div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-6">
                                <strong><div class="my-2 text-muted">주문한 점포명</div></strong>
                                <hr>
                                <div>주문한 점포명</div>
                            </div>
                            <div class="col-6">
                                <strong><div class="my-2 text-muted">배달 매체</div></strong>
                                <hr>
                                <div>배달 매체</div>
                            </div>
                        </div>
                        <div class="row mt-5 bg-light">
                            <div class="col-4">
                                <strong><div class="my-2 text-muted">총 배달비</div></strong>
                                <hr>
                                <div>0000원</div>
                                <span>(</span> <span>4</span><span>인 모집 시 인당&nbsp;</span><span class="text-danger" style="font-weight: bold">0000원</span><span>)</span>
                            </div>
                            <div class="col-4">
                                <strong><div class="my-2 text-muted">모집인원</div></strong>
                                <hr>
                                <div>0명</div>
                            </div>
                            <div class="col-4">
                                <strong><div class="my-2 text-muted">모집시간</div></strong>
                                <hr>
                                <div>0000-00-00 오후 00:00까지</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary btn-lg mt-5" type="button" data-bs-toggle="modal" data-bs-target="#joinModal">가입하기</button>
                        </div>
                    </div>
                </div>
                <div class="tabContent" id="notification">tab222222222222222222222222</div>
                <div class="tabContent" id="profile">
                    <div class="container">
                        <div class="profileImg3 text-white rounded-circle text-center">
                            <svg class="dropdownBtn bi bi-person-fill personImg" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                                <path class="dropdownBtn" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </div>
                        <div class="infoBox" th:object="${member}" style="margin-top: 60px;">
                            <div>
                                <div class="userInfoFont">사용자 이름</div>
                                <div class="userInfoValue" th:text="${member.username}">username</div>
                                <hr class="horizonLine">
                            </div>
                            <div>
                                <div class="userInfoFont">이메일</div>
                                <div class="userInfoValue" th:text="${member.email}">userEmail</div>
                                <hr class="horizonLine">
                            </div>
                            <div>
                                <div class="userInfoFont">휴대폰 번호</div>
                                <div class="userInfoValue" th:text="${member.phoneNum}">userPhoneNum</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="padding-top: 400px"></div>


    <div style="height: 10000px;"></div>

<!--    어떤 탭이 눌리는지 파라미터로 받음-->
    <script th:inline="javascript">

        /*<![CDATA[*/
        var selectedTab = [[${selectedTab}]];
        /*]]>*/

        contentSetting(selectedTab);
    </script>
</body>