<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<!--<head th:replace="~{templates/fragments :: head}"></head>-->
<head th:replace="fragments.html :: heads"></head>

<body>
  <nav class="container-fluid fixed-top border-bottom py-3 bg-white shadow-sm">
    <div class="nav d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none px-4">
        <img src="/img/deliveryIcon.PNG" alt="로고" width="100" height="80">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-3 text-dark h3">소개</a></li>
        <li><a th:href="@{/searchParty}" class="nav-link px-3 text-dark h3">검색</a></li>
        <li><a href="#" class="nav-link px-3 text-dark h3">MY정보</a></li>
      </ul>

      <ul class="nav justify-content-center px-5">
        <li><a th:href="@{/login}" class="nav-link px-2 text-dark h4">로그인</a></li>
        <li><a th:href="@{/signUp}" class="nav-link px-2 text-dark h4">회원가입</a></li>
      </ul>
    </div>
  </nav>




  <div class="container" style="margin: 0px; padding: 0px;">
    <section class="section1">
      <img class="foodImages" src="/img/foodImage.PNG" alt="foodImage">
      <img class="platformLogos" src="/img/platformlogosImage.PNG" alt="platformLogos">
      <div class="title1" id="word">부담스러운 배달비 이제 나눠서 내자!</div>
      <button class="btn btn-lg btn-primary serviceStartBtn" id="serviceStartBtn" th:onclick="|location.href = '@{/searchParty}'|" type="button">서비스 시작하기</button>
    </section>










    <section class="section2">
      <div class="shareImages" id="shareImages" style="position: relative">
        <img class="money" src="/img/money.png" alt="moneyImage">
        <img class="money1" src="/img/money.png" alt="moneyImage1">
        <img class="money2" src="/img/money.png" alt="moneyImage2">
        <img class="money3" src="/img/money.png" alt="moneyImage3">
        <img class="money4" src="/img/money.png" alt="moneyImage4">
        <img class="arrow1" src="/img/arrow.png" alt="arrow">
        <img class="arrow2" src="/img/arrow.png" alt="arrow">
        <img class="arrow3" src="/img/arrow.png" alt="arrow">
        <img class="arrow4" src="/img/arrow.png" alt="arrow">
        <img class="person1" src="/img/person1.png" alt="person1">
        <img class="person2" src="/img/person2.png" alt="person2">
        <img class="person3" src="/img/person3.png" alt="person3">
        <img class="person4" src="/img/person4.png" alt="person4">
      </div>
      <div class="title2" id="title2">
        최대 4분의 1만큼
        <br>
        적은 배달비로 배달!
      </div>
      <h1 class="title2Sub1" id="title2Sub1">본 페이지는 배달의 민족, 요기요, 배달 특급 등의 플랫폼을 이용할 때 발생하는 배달비를 나눠서 분담하는 서비스입니다.</h1>
    </section>










    <section class="section3">
      <img class="searchPartyImage" id="searchPartyImage" src="/img/searchPartyImage2.png" alt="searchPartyImage">
      <div class="title3" id="title3">
        원하는 파티를
        <br>
        검색 메뉴를 통해 서치!
      </div>
      <div class="title3Sub1" id="title3Sub1">
        지역과 주문할 지점으로 검색해서 조건에 맞는 사람을 검색하세요.
      </div>
      <button class="btn btn-lg btn-primary serviceStartBtn" id="serviceStartBtn2" th:onclick="|location.href = '@{/searchParty}'|" type="button" style="top: 520px">서비스 시작하기</button>
    </section>










    <section class="section4">
      <div class="sequenceCards">
        <div class="sequenceCard" id="sequenceCard1">
          <div style="font-family: '맑은 고딕'; font-size: 1em; font-weight: bolder; height: 30px;">1.</div>
          <div style="font-family: '맑은 고딕'; font-size: 1.2em; font-weight: bolder; height: 65px;">모집글 <br> 등록하기</div>
          <div style="font-family: '맑은 고딕'; font-size: 0.8em; height: 60px">모집글을 작성하고 <br> 등록하세요.</div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cloud-plus" viewBox="0 0 16 16" style="width: 50px; height: 50px; margin-left: 75px; margin-top: 0px">
            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
          </svg>
        </div>
        <img class="line" id="line1" src="/img/line.png" style="left: 173px; top: 85px">
        <div class="sequenceCard" id="sequenceCard2" style="left: 215px; top: 0px;">
          <div style="font-family: '맑은 고딕'; font-size: 1em; font-weight: bolder; height: 30px;">2.</div>
          <div style="font-family: '맑은 고딕'; font-size: 1.2em; font-weight: bolder; height: 65px;">파티원 <br> 모집하기</div>
          <div style="font-family: '맑은 고딕'; font-size: 0.8em; height: 60px">조건에 맞는 파티원들을 <br> 모집하세요.</div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16" style="width: 50px; height: 50px; margin-left: 75px; margin-top: 0px">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </div>
        <img class="line" id="line2" src="/img/line.png" style="left: 387px; top: 85px">
        <div class="sequenceCard" id="sequenceCard3" style="left: 430px; top: 0px;">
          <div style="font-family: '맑은 고딕'; font-size: 1em; font-weight: bolder; height: 30px;">3.</div>
          <div style="font-family: '맑은 고딕'; font-size: 1.2em; font-weight: bolder; height: 65px;">배달음식 <br> 주문하기</div>
          <div style="font-family: '맑은 고딕'; font-size: 0.8em; height: 60px">배달 플랫폼으로 음식을 <br>주문하세요. 주문 후 파티원들이 결제한 배달비를 <br>수령하세요. </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16" style="width: 50px; height: 50px; margin-left: 75px; margin-top: 0px">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
          </svg>
        </div>
        <div class="sequenceCard" id="sequenceCard4" style="left: 0px; top: 255px;">
          <div style="font-family: '맑은 고딕'; font-size: 1em; font-weight: bolder; height: 30px;">4.</div>
          <div style="font-family: '맑은 고딕'; font-size: 1.2em; font-weight: bolder; height: 65px;">파티장 평가 <br> 남기기</div>
          <div style="font-family: '맑은 고딕'; font-size: 0.8em; height: 60px">파티장 평가를 <br>남겨주세요. </div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16" style="width: 50px; height: 50px; margin-left: 75px; margin-top: 0px">
            <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg>
        </div>
      </div>

      <div class="title4" id="title4">
        직접 파티 모집으로
        <br>
        원하는 조건으로 파티원 모집!
      </div>
      <div class="title4Sub1" id="title4Sub1">
        원하는 파티를 찾지 못했다면
        <br>
        조건에 맞는 파티를 직접 만들 수 있습니다.
      </div>
      <button class="btn btn-lg btn-primary makePartyBtn" id="makePartyBtn" th:onclick="|location.href = '@{/makeParty}'|" type="button" style="top: 450px">파티 모집하기</button>
    </section>
  </div>


  <footer>
    <div class="row">
      <div class="offset-2 col-8">
        <div style="font-weight: bolder; padding-bottom: 10px">배달비 분담 중계 서비스</div>
        <div class="footerSub1">본 페이지는 학습을 위한 토이 프로젝트이며 실제 서비스를 제공하지 않습니다.</div>
      </div>
      <div class="col-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16" th:onclick="|location.href = '@{https://github.com/rkdrudals100/share_deliveryfee_service}'|" type="button" style="width: 40px; padding-top: 15px">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
      </div>
    </div>
  </footer>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>
</html>
